<html> 

<head>
	<link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>


<body>
	<form method="POST" action="/people">
		Name: <input type="text" id="name" name="name"></input> <br />
		Favorite City: <input type="text" id="favoriteCity" name="favoriteCity"></input> <br /><br />
		<input type="submit" value="Submit" />
	</form>
</body> 

</html>